.header {
    padding: 20px 0;
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 350px;
    clear:both;
    padding-top:20px;
    background-color: #fdf102;
    border-top-color: #080808;
    border-top: 1px;
    margin-bottom: -100px;
}

.navbar-nav li{
 line-height: 50px;
}

.welcome {
    background-image: url('../images/welcome_screen.png');
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.wrapper {
    min-height: 100%;
}

.wishlist-list{
    max-height: 900px; 
    overflow-y: auto;
}

.wishlist-form{
background-color: #03c1fd;
color: #fdf102;
width: 100%;
}

.details {
    margin-top: -18px;
}

.profile-image {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border: 1px solid #03c1fd;
}

.profile-title {
    text-align:center;
}

.profile-name {
    margin: 0 auto;
    text-align:center;
    white-space:nowrap;
    display: block;
    position: relative;
}
.cancel-profile {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
}
.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: .4;
    z-index: 1;
}

.invite-row .invite {
    margin: 10px 10px 10px 0;
}

.rsvp-buttons {
    text-align: center;
    margin: 40px 0 40px 0;
}

.fulfill-buttons {
    text-align: center;
    margin: 40px 0 40px 0;
}

.description {
    margin: 20px 0 20px 0;
}

.attendance .who {
    margin-bottom: 5px;
}

.attendance .invite {
    text-align: center;
}

.chosen {
    font-weight: bold;
}

.wishmap {
   height: 400px;
   width: 100%;
   position: relative;
}
